.tab-container-root {
  width: 100%;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.tab-container-root .tab-container-ul {
  display: flex;
}

.tab-container-root .tab-container-ul>li {
  width: 100%;
  flex-shrink: 0
}