html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media screen and(min-width: 320px)and(max-width: 359px) {
  html {
    font-size: 12.8px;
  }
}

@media screen and(min-width: 360px)and(max-width: 374px) {
  html {
    font-size: 14.4px;
  }
}

@media screen and(min-width: 375px)and(max-width: 385px) {
  html {
    font-size: 15px;
  }
}

@media screen and(min-width: 386px)and(max-width: 392px) {
  html {
    font-size: 15.44px;
  }
}

@media screen and(min-width: 393px)and(max-width: 400px) {
  html {
    font-size: 16px;
  }
}

@media screen and(min-width: 401px)and(max-width: 414px) {
  html {
    font-size: 16.48px;
  }
}

@media screen and(min-width: 750px)and(max-width: 799px) {
  html {
    font-size: 30.72px;
  }
}

.bg-red {
  background: red;
}

.bg-gold {
  background: gold;
}

.bg-blue {
  background: blue
}